<title>应用组件管理</title>

<style>
    .addColor{background: rgba(218, 250, 162, 1)}
    .left-list .layui-form-label{padding: 0px; width: auto;}
    .left-list .layui-input-block { margin-left: 28px;}
    .left-list .layui-form-item .layui-form-checkbox[lay-skin=primary] {  margin-top: 5px;}
    .left-list .active{background:rgba(218, 250, 162, 1)}
    .left-list .active2{background:rgba(218, 250, 162, 1)}
    .left-list .layui-card-body{padding:10px 0;height: 85%;}
    .left-list .layui-form-item{padding:8px 15px;margin-bottom: 0px;cursor: pointer;}
    .left-list .layui-btn-container{padding-left:25px;}
    li .layui-form-checkbox[lay-skin=primary] div span:nth-of-type(1){width: 150px;}
    li .layui-form-checkbox[lay-skin=primary] div span:nth-of-type(2){width: 200px;}
</style>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>应用</cite></a>
        <a><cite>分类管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space12 h100">
        <div class="layui-col-md3 left-list h100" style="width: 23%;">
            <div class="layui-card h100">
                <div class="layui-card-header">应用组件</div>
                <div class="layui-card-body">
                    <div class="layui-btn-container">
<!--
                        <button type="button" class="layui-btn layui-btn-sm" data-type="add"><i class="layui-icon">&#xe608;</i> 新建</button>
-->
                        <button type="button" class="layui-btn layui-btn-sm" data-type="edit"><i class="layui-icon">&#xe642;</i> 修改</button>
                        <button type="button" class="layui-btn layui-btn-sm" data-type="del"><i class="layui-icon">&#xe640;</i> 删除</button>
                    </div>
                    <form class="layui-form" action="" id="listForm" style='position: relative;'>
                    </form>
                </div>
                <div class="" id="pageleft" style="padding-left: 10px"></div>
            </div>
        </div>
        <!--<div class="layui-col-md9" style="width: 77%">
            <div class="layui-card h100">
                <div class="layui-card-body h100">
                    <div class="layui-tab" lay-filter="demo">
                        <div class="layui-tab-content" style="height: 735px">
                            <div id="main" class="layui-tab-item layui-show" style="position: relative">
                                <div class="layui-card-header">模块元数据表</div>
                                <div class="layui-card-body">
                                    <div class="layui-btn-container">
                                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" data-type="selectTableinfo">引入元数据表</button>
                                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" data-type="removeTableinfo">移除元数据表</button>
                                    </div>
                                    <table class="layui-hide" id="fieldTabel"></table>
                                </div>
                            </div>
                            <div class="layui-tab-item">
                                <div class="layui-card-header">模块元数据视图</div>
                                <div class="layui-card-body">
                                    <div class="layui-btn-container">
                                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" data-type="selectViewinfo">引入元数据视图</button>
                                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" data-type="removeViewinfo">移除元数据视图</button>
                                    </div>
                                    <table class="layui-hide" id="fieldTabel1"></table>
                                </div>
                            </div>
                        </div>
                        <ul class="layui-tab-title" id="manage">
                            <li class="layui-this" id="first">模块元数据表</li>
                            <li lay-id="baseInfo" onclick="getView()" id="infos">模块元数据视图</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>

<!--弹出层模板（新增，查看，编辑）-->
<script type="text/html"  id="moduleinfoTemplate">
    <form class="layui-form" lay-filter="moduleinfoForm">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-form-item">
                    <label class="layui-form-label">英文名称:</label>
                    <div class="layui-input-block">
                        <input type="text" name="englishname" value="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模块名称:</label>
                    <div class="layui-input-block">
                        <input type="text" name="modulename" value="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模块描述:</label>
                    <div class="layui-input-block">
                        <input type="text" name="moduledesc" value="" required lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 135px;">
                        <button class="layui-btn" lay-submit lay-filter="addModuleinfo">确认</button>
                        <button type="button" class="layui-btn layui-btn-primary" onclick="layer.closeAll();">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="id"/>
    </form>
</script>
<!--弹出层模板（新增，查看，编辑）-->
<script type="text/html"  id="fieldTemplate">
    <div class='layui-fluid'>
        <div class='layui-card'>
            <div class='layui-card-body'>
                <!--<div style='display:inline-block;margin-left:205px;position:absolute;top:20px;font-weight:700px;'>
                    已选中列表
                </div>-->
                <div id="test1"></div>
            </div>
            <div class='layui-btn-container' style='margin:90px 0 0 290px;'>
                <button class='layui-btn' data-type="getSelects">确定</button>
                <button class='layui-btn' onclick="layer.closeAll()">取消</button>
            </div>
        </div>
    </div>
</script>
<script type="text/html"  id="fieldTemplate1">
    <div class='layui-fluid'>
        <div class='layui-card'>
            <div class='layui-card-body'>
                <!--<div style='display:inline-block;margin-left:205px;position:absolute;top:20px;font-weight:700px;'>
                    已选中列表
                </div>-->
                <div id="test2"></div>
            </div>
            <div class='layui-btn-container' style='margin:90px 0 0 290px;'>
                <button class='layui-btn' data-type="getSelectsV">确定</button>
                <button class='layui-btn' onclick="layer.closeAll()">取消</button>
            </div>
        </div>
    </div>
</script>
<script>
    // layui
    layui.use('table', function(){
        var $ = layui.$
            ,layer = layui.layer
            ,table = layui.table
            ,form = layui.form;

        form.on('submit(addModuleinfo)', function(data){
            console.log(data);
            if(data.field.id){
                doEditModuleinfo(data.field);
            }else{
                doAddModuleinfo(data.field);
            }
            return false;
        });
    });
    function doAddModuleinfo(data){
        ajax("/metadata/moduleinfo/add","post",JSON.stringify(data)).then(res=>{
            if(res.success){
                layer.closeAll();
                getModuleinfos(1);
            }else{
                layer.alert(res.msg,function(){
                    layer.closeAll();
                });
            }
        })
    }
    function doEditModuleinfo(data){
        ajax("/metadata/moduleinfo/"+data.id,"put",JSON.stringify(data)).then(res=>{
            if(res.success){
                layer.closeAll();
                getModuleinfos(1);
            }else{
                layer.alert(res.msg,function(){
                    layer.closeAll();
                });
            }
        })
    }

    active.getSelects = function(){
        dogetSelects();
    };
    function dogetSelects(){
        var data = layui.transfer.getData('demo1');
        console.log(moduleinfoObj);
        console.log(data);
        var ids = [];
        for(var i=0;i< data.length;i++){
            ids.push(data[i].value);
        }
        if(data) {

            ajax("/metadata/moduleinfo/addTable/"+moduleinfoObj.id,"POST",JSON.stringify(ids)).then(res=>{
                console.log(res);
                getTables(moduleinfoObj.id);
                layer.closeAll();
            })
        }
    }
    active.getSelectsV = function(){
        dogetSelectsV();
    };
    function dogetSelectsV(){
        var data = layui.transfer.getData('demo4');
        console.log(data);
        var ids = [];
        for(var i=0;i< data.length;i++){
            ids.push(data[i].value);
        }
        if(data) {

            ajax("/metadata/moduleview/addView/"+moduleinfoObj.id,"POST",JSON.stringify(ids)).then(res=>{
                console.log(res);
                getViews(moduleinfoObj.id);
                layer.closeAll();
            })
        }
    }

    active.selectTableinfo = function(){
        selectPsersonIndex = layer.open({
            type: 1,
            area: ['950px', '521px'],
            title:'选择元数据表',
            maxmin: true,
            content: '<div id="fieldForm1"></div>'
        });

        var jsondata={
        };

        //查询数据
        $.ajax({
            type:"POST",
            url:"/metadata/listNoChoose",
            contentType:"application/json",
            data:JSON.stringify(jsondata),
            dataType:"json",
            success:function (data) {
                console.log(data);
                layui.laytpl($("#fieldTemplate").html()).render({}, function(html){
                    $("#fieldForm1").html(html);
                    layui.form.render();
                    layui.use('transfer', function(){
                        var transfer = layui.transfer;
                        //渲染
                        var result=[];
                        console.log(data);
                        for (var i=0;i<data.obj.length;i++){
                            result.push({"value":data.obj[i].id,"title":"<div><span>"+data.obj[i].tablename+"</span><span>"+data.obj[i].anothername+"</span></div>","disabled": "", "checked": ""})
                        }
                        transfer.render({
                            elem: '#test1'  //绑定元素
                            ,title:['<div><span>表名</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>中文名称</span></div>','<div><span>表名</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>中文名称</span></div>']
                            ,data:result
                            ,width: '395px'
                            ,id:"demo1"
                        });

                    });
                })
            },
            error:function (data) {
                console.log("出错了")
            }
        });
    }
    active.removeTableinfo = function(){
        removeTable();
    };
    function removeTable(){
        var data2 = layui.table.checkStatus('demo2');
        console.log(data2);
        var ids = [];
        for(var i=0;i< data2.data.length;i++){
            ids.push(data2.data[i].id);
        }
        if(ids.length<=0){
            layer.alert("请选择元数据表！");
            return false;
        }
        console.log(ids);
        if(data2) {
            layer.open({
                content: "确认移除元数据表吗？"
                ,btn: ['确认',"取消"]
                ,yes: function(index, layero){
                    ajax("/metadata/moduleinfo/removeTable","POST",JSON.stringify(ids)).then(res=>{
                        if (res.success) {
//          res.msg = "删除成功";
                            getTables(moduleinfoObj.id);
                            layer.closeAll();
                        }else{
                            layer.alert("删除失败");
                            layer.closeAll();
                        }

                    }).catch(res=>{

                    })
                }
                ,btn2: function(index, layero){
                    layer.closeAll();
                }
            });

        }
    }
    //引入元数据视图
    active.selectViewinfo = function(){
        selectPsersonIndex = layer.open({
            type: 1,
            area: ['950px', '521px'],
            title:'选择元数据视图',
            maxmin: true,
            content: '<div id="fieldForm1"></div>'
        });

        var jsondata={
        };

        //查询数据
        $.ajax({
            type:"POST",
            url:"/metadata/view/listAll",
            contentType:"application/json",
            data:JSON.stringify(jsondata),
            dataType:"json",
            success:function (data) {
                console.log(data);
                layui.laytpl($("#fieldTemplate1").html()).render({}, function(html){
                    $("#fieldForm1").html(html);
                    layui.form.render();
                    layui.use('transfer', function(){
                        var transfer = layui.transfer;
                        //渲染
                        var result=[];
                        console.log(data);
                        for (var i=0;i<data.obj.length;i++){
                            result.push({"value":data.obj[i].id,"title":"<div><span>"+data.obj[i].viewname+"</span><span>"+data.obj[i].tableviewname+"</span></div>","disabled": "", "checked": ""})
                        }
                        transfer.render({
                            elem: '#test2'  //绑定元素
                            ,title:['<div><span>视图名</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>中文名称</span></div>','<div><span>视图名</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>中文名称</span></div>']
                            ,data:result
                            ,width: '395px'
                            ,id:"demo4"
                        });

                    });
                })
            },
            error:function (data) {
                console.log("出错了")
            }
        });
    }
    //移除元数据视图
    active.removeViewinfo = function(){
        removeView();
    };
    function removeView(){
        var data3 = layui.table.checkStatus('demo3');
        console.log(data3);
        var ids = [];
        for(var i=0;i< data3.data.length;i++){
            ids.push(data3.data[i].id);
        }
        if(ids.length<=0){
            layer.alert("请选择元数据视图！");
            return false;
        }
        console.log(ids);
        if(data3) {
            layer.open({
                content: "确认移除元数据视图吗？"
                ,btn: ['确认',"取消"]
                ,yes: function(index, layero){
                    ajax("/metadata/moduleview/removeView","POST",JSON.stringify(ids)).then(res=>{
                        if (res.success) {
//          res.msg = "删除成功";
                            getViews(moduleinfoObj.id);
                            layer.closeAll();
                        }else{
                            layer.alert("删除失败");
                            layer.closeAll();
                        }

                    }).catch(res=>{

                    })
                }
                ,btn2: function(index, layero){
                    layer.closeAll();
                }
            });

        }
    }


</script>

<script>
    var moduleinfoObj = {};

    function getModuleinfos(pageNo){
        var jsondata = {
            "pager": {
                "current": pageNo,
                "size": 10
            }
        }
        ajax("/metadata/moduleinfo/list","post",JSON.stringify(jsondata)).then(data=>{
            console.log(data);
            if(data.success){
                if(data.obj.records.length>0){
                    getTables(data.obj.records[0].id);
                    getViews(data.obj.records[0].id);
                    moduleinfoObj.id = data.obj.records[0].id;
                    moduleinfoObj.name = data.obj.records[0].modulename;
                }
                var html = "";
                for(var i in data.obj.records){
                    var obj = data.obj.records[i];
                    var activeClass = "";
                    if(i == 0) {
                        activeClass = "active";
                    }
                    html += '<div class="layui-form-item '+activeClass+'" data_id="'+obj.id+'" data_name="'+obj.modulename+'" pane="">' +
                        '              <div class="layui-form-label"><input type="checkbox" name="listidm" value="'+obj.id+'" lay-skin="primary"></div>' +
                        '              <div class="layui-input-block">' +
                        '                <p>'+obj.englishname+' ['+obj.modulename+']</p>' +
                        '                <p>创建时间:'+obj.crtime+'</p>' +
                        '              </div>' +
                        '            </div>';
                }
                $("#listForm").html(html);
                var laypage = layui.laypage
                    ,layer = layui.layer;
                layui.use(['laypage', 'layer'], function(){
                    laypage.render({
                        elem: 'pageleft'
                        ,count: data.obj.total //数据总数
                        ,curr:data.obj.current
                        ,jump: function(obj,first){
                            if(!first){
                                getModuleinfos(obj.curr)
                            }
                        }
                    });
                });

                layui.form.render();
            }
        })
    }
    function getTables(id){
        var jsondata = {
            "entity": {
                "ownerid": id
            },
            "pager": {
                "current": 1,
                "size": 10
            }
        }
        ajax("/metadata/list","post",JSON.stringify(jsondata)).then(data=>{
            console.log(data);
            layui.use('table', function(){
                var table = layui.table;
                table.render({
                    elem: '#fieldTabel'
                    ,data:data.obj.records
                    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    ,cols: [[
                        {type:'checkbox'}
                        ,{type:'numbers',title: '序号'}
                        ,{field:'anothername', title: '中文名称', sort: true}
                        ,{field:'tablename',  title: '英文名称'}
                        ,{field:'crtime', title: '创建时间', sort: true}
                    ]],
                    id: "demo2"
                });
            });
        })
    }
    //获取模块相关视图
    function getView(){
        getViews(moduleinfoObj.id);
    }
    function getViews(id){
        var jsondata = {
            "entity": {
                "moduleinfoid": id
            },
            "pager": {
                "current": 1,
                "size": 10
            }
        }
        console.log(JSON.stringify(jsondata));
        ajax("/metadata/moduleview/listModuleView","post",JSON.stringify(jsondata)).then(data=>{
            console.log(data);
            layui.use('table', function(){
                var table = layui.table;
                table.render({
                    elem: '#fieldTabel1'
                    ,data:data.obj.records
                    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    ,cols: [[
                        {type:'checkbox'}
                        ,{type:'numbers',title: '序号'}
                        ,{field:'moduleviewname', title: '中文名称', sort: true}
                        ,{field:'modulename',  title: '英文名称'}
                        ,{field:'crtime', title: '创建时间', sort: true}
                    ]],
                    id: "demo3"
                });
            });
        })
    }
//新建模板
    function add(){
        //多窗口模式，层叠置顶
        layer.open({
            type: 1,
            title: "新建模板",
            area: ['600px', '250px'],
            maxmin: true,
            content: '<div id="addModuleinfo"></div>',
        });
        layui.laytpl($("#moduleinfoTemplate").html()).render({}, function(html){
            $("#addModuleinfo").html(html);
        });
/*
        layui.form.val("moduleinfoForm");
*/
    }
    function checkChoice(){
        if(!moduleinfoObj.id){
            layer.alert("请选择模板");
            return false;
        }
        return true;
    }
    //修改模板
    function edit(){
        if(checkChoice()){
            ajax("/metadata/moduleinfo/"+moduleinfoObj.id,"get",{}).then(data=>{
                layer.open({
                    type: 1,
                    title: "修改模板",
                    area: ['600px', '250px'],
                    maxmin: true,
                    content: '<div id="addModuleinfo"></div>',
                });
                layui.laytpl($("#moduleinfoTemplate").html()).render({}, function(html){
                    $("#addModuleinfo").html(html)
                });
                layui.form.val("moduleinfoForm",data.obj);
            })
        }
    }
    function del(){
        var ids = [];
        $("input[name='listidm']:checked").each(function(){
            ids.push($(this).val());
        })
        if(ids.length<=0){
            layer.alert("请选择模板");
            return false;
        }
        layer.open({
            content: "确认删除模块吗？"
            ,btn: ['确认',"取消"]
            ,yes: function(index, layero){
                ajax("/metadata/moduleinfo/delByIds","post",JSON.stringify(ids)).then(data=>{
                    if(data.success){
                        getModuleinfos(1);
                        layer.close(index);
                    }else{
                        layer.alert(data.msg);
                    }
                }).catch(res=>{

                })
            }
            ,btn2: function(index, layero){
                layer.closeAll();
            }
        });

    }

</script>

<script>
    $(function(){
        $(".left-list").on("mouseover",".layui-form-item",function(){
            $(this).addClass("active2").siblings().removeClass("active2");
        })
        $(".left-list").on("mouseleave",".layui-form-item",function(){
            $(this).removeClass("active2");
        })
        $(".left-list").on("click",".layui-form-item",function(){
            $(this).addClass("active").siblings().removeClass("active");
            moduleinfoObj.id = $(this).attr("data_id");
            moduleinfoObj.name = $(this).attr("data_name");
            getTables($(this).attr("data_id"));
            getView();
        })
        layui.form.render();
        getModuleinfos(1);
    })

</script>